header {
    top:0;
}

footer {
    position: fixed;
    bottom: 0;
}



header, footer {
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 5px 10px #ffffff;
    
    
}

a {
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    font-family: fantasy;
    font-size: large;
  
    
}

 img {
    width: 5rem;
    height: 5rem;
}

.office {
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10rem;
    width: 10rem;


}

p {
   text-align: center;
   margin-left: 10rem;
   margin-right: 10rem;
   font-size: 1.5rem;
   color: antiquewhite;
}

body {
    background-image: url('/Images/studio2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }

  ul{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 1.5rem;
    color: antiquewhite;
    list-style-type: none;
    padding-top: 25rem;
 }
  